---
import Postlist from "@components/post-list.astro";
import Layout from "@layouts/layout.astro";
import { getPosts } from "@lib/getPosts";
import { getUniqueTags } from "@lib/getUniqueTags";
import { sortPostByDate } from "@lib/sortPostByDate";

let { tag } = Astro.params;
tag ??= "";

export const getStaticPaths = async () => {
    const posts = await getPosts();
    const uniqueTags = getUniqueTags(posts);

    return uniqueTags.map((tag) => ({ params: { tag } }));
};

const postsWithTag = (await getPosts({ filter: { tag } })).sort(sortPostByDate);
---

<Layout title={"ddaniel.me | posts with " + tag}>
    <h1>Posts with: {tag}</h1>
    <Postlist posts={postsWithTag} />
</Layout>
