---
import { render } from 'astro:content';
import MarkdownPostLayout from "@layouts/layout.astro";
import { getBlogCollection } from "@lib/getBlogCollection.ts";

export async function getStaticPaths() {
    const blogEntries = await getBlogCollection();
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<MarkdownPostLayout frontmatter={entry.data} slug={entry.slug}>
    <div class="max-w-none text-zinc-800 dark:text-zinc-200">
        <Content />
    </div>
</MarkdownPostLayout>
