---
import Layout from "@layouts/layout.astro";
import { sortPostByDate } from "@lib/sortPostByDate";
import { getFilteredPosts } from "@lib/getFilteredPosts";
import Postlist from "@components/post-list.astro";

const posts = (await getFilteredPosts()).sort(sortPostByDate);
---

<Layout>
    <h1>blog</h1>
    <Postlist posts={posts} />
</Layout>
