---
import Layout from "@layouts/layout.astro";
import Link from "@components/link.astro";
---

<Layout>
    <h1>too bad</h1>

    <p>The resource you tried to access could not be found.</p>
    <span class="flex justify-end">
        <Link href="/" class="border-2 dark:bg-white dark:text-[#18181b]" arrow
            >back to home</Link
        >
    </span>
</Layout>
