---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <h1>yo!</h1>
  <p>
    my name is Daniel Santos. I'm a brazilian software developer, here I post
    some articles about technology and the stuff that I'm studying at the
    moment.
  </p>
  <span class="flex justify-end">
    <a
      href="/blog"
      class="bg-gray-200 rounded-lg w-fit py-2 px-3 flex gap-2 hover:gap-4 transition-[gap] duration-500"
    >
      read the blog
      <span>&gt;</span>
    </a>
  </span>
</Layout>
