---
import Layout from "@layouts/layout.astro";
import Link from "@components/link.astro";
import Prose from "@components/prose.astro";
---

<Layout>
    <Prose>
    <p>sou o daniel santos e esse é o meu terreninho digital</p>
    <ul>
    <li>gosto de web, tooling/dx, automacoes e homelabs</li>
    <li>preso dentro do vim</li>
    <li>preso no tutorial hell</li>
    <li>$0 MRR</li>
    </ul>

    <a href="https://github.com/ddanielsantos/blog/">github</a>
    <a href="https://bsky.app/profile/ddaniel.me" target="_blank">bluesky 🦋</a>
    </Prose>


    <span >
        <Link href="/blog"
            >ir para o blog</Link
        >
    </span>
</Layout>
