---
import Layout from "@layouts/layout.astro";
import Link from "@components/link.astro";
---

<Layout>
    <div class="flex flex-col gap-6">
        <p class="text-zinc-800 dark:text-zinc-200">sou o daniel santos e esse é o meu website</p>
        <ul class="space-y-1 text-zinc-700 dark:text-zinc-300">
            <li>gosto de web, tooling/dx, automações e etc</li>
            <li>$0 MRR</li>
            <li>preso dentro do vim</li>
            <li>preso no tutorial hell</li>
        </ul>

        <div class="flex flex-col gap-3">
            <Link href="/blog">ir para o blog</Link>
        </div>
    </div>
</Layout>
