---
import Layout from "@layouts/layout.astro";
import Link from "@components/link.astro";
import Prose from "@components/prose.astro";
---

<Layout>
    <Prose>
    <h2>yo!</h2>
    <span>
        meu nome é Daniel Santos, sou um desenvolvedor de software.
        criei este espaço para guardar os blog posts, atualmente vejo este site mais como uma forma de demarcar minha presença online. Embora a maior parte do conteúdo aqui seja de fato sobre desenvolvimento de software, não sinto que esteja restrito apenas a isso.
        todo o conteúdo deste site está disponível no <a href="https://github.com/ddanielsantos/blog/">github</a>, a quem se interessar em propor sugestões e debates (sejam eles sobre o site ou o conteúdo das postagens em si). Issues são bem vindas!!!
    </span>
    </Prose>

    <a href="https://bsky.app/profile/ddaniel.me" target="_blank">bluesky 🦋</a>
    <span >
        <Link href="/blog"
            >ir para o blog</Link
        >
    </span>
</Layout>
