---
import ThemIcon from "./theme-icon.astro";
---

<header class="p-4 flex flex-col">
    <nav class="w-full max-w-xl flex self-center justify-between items-center p-4 ">
        <a href="/" class="hover:underline">ddaniel.me</a>
        <ThemIcon />
    </nav>
</header>
