---
import ThemIcon from "./theme-icon.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

const locale = Astro.currentLocale;
---

<header class="p-4 flex flex-col">
    <nav class="w-full max-w-xl flex self-center justify-between items-center">
        <a href="/" class="hover:underline">ddaniel.me</a>
        <div class="flex gap-6">
            <button class="hover:underline" id="dialog-button">{locale}</button>
            <ThemIcon />
        </div>
    </nav>
</header>

<script>
    const button = document.querySelector("#dialog-button");

    button.addEventListener("click", () => {
        const modal = document.querySelector("#lang-dialog");

        modal.showModal();
    });
</script>
