---
import { twMerge } from "tailwind-merge";
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
    href: string;
}

const { href, class: c, target } = Astro.props;
---

<a
    href={href}
    target={target ?? "_self"}
>
    <slot />
</a>
