---
interface Props {
    href: string;
    content: string;
    arrow?: boolean;
}

const { href, content, arrow } = Astro.props;
---

<a
    href={href}
    class="border-[1px] border-gray-300 duration-500 focus:shadow-md hover:shadow-md shadow-gray-500 rounded-lg w-fit py-2 px-3 flex gap-2 hover:gap-4 transition-[gap,box-shadow] no-underline"
>
    {content}
    {arrow && <span>&gt;</span>}
</a>
