---
import LinkButton from "@components/link.astro";
import { type CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"] & { url: string };

const {
    props: { title, date, url },
} = Astro;
---

<LinkButton href={url} class="w-full p-0 group">
    <div class="flex flex-wrap gap-3">
        <p class="w-24">{date}</p>
        <p class="group-hover:underline">{title}</p>
    </div>
</LinkButton>
