---
import PostCard from "@components/post-card.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
    posts?: CollectionEntry<"blog">[];
}

const {
    props: { posts },
} = Astro;

function entryToURL(entry: { slug: string }) {
    return `/blog/${entry.slug}`;
}
---

<ul class="flex flex-col post-list">
    {
        posts &&
            posts.map((p, idx) => {
                return (
                    <>
                        <li>
                            <PostCard {...p.data} url={entryToURL(p)} />
                        </li>
                        {idx < posts.length - 1 && <li class="border-b border-gray-200 dark:border-gray-800"></li>}
                    </>
                );
            })
    }
</ul>
