---
import PostCard from "@components/post-card.astro";
import type {PostWithSlug} from "@lib/getBlogCollection.ts";

interface Props {
    posts?: PostWithSlug[];
}

const {
    props: { posts },
} = Astro;

function entryToURL(entry: PostWithSlug) {
    return `/blog/${entry.slug}`;
}
---

<ul class="flex flex-col post-list gap-6">
    {
        posts &&
            posts.map((p, idx) => {
                return (
                    <>
                        <li>
                            <PostCard {...p.data} url={entryToURL(p)} />
                        </li>
                        {idx < posts.length - 1 && <li class="border-b border-zinc-200 dark:border-zinc-800"></li>}
                    </>
                );
            })
    }
</ul>
