---
import LinkButton from "@components/link.astro";
import { type CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"] & { url: string };

const {
    props: { title, date, url },
} = Astro;
---

<LinkButton href={url} class="w-full p-0 group">
    <div class="flex flex-col gap-3">
        <span >{date}</span>
        <span >{title}</span>
    </div>
</LinkButton>
