---
import Tag from "@components/tag.astro";

interface Props {
  hasAnchor: boolean;
  tags?: string[] | undefined;
}

const { tags, hasAnchor } = Astro.props;
---

<ul class="flex gap-2 tag-group">
  {
    tags &&
      tags.map((tag) => {
        return (
          <li>
            <Tag tag={tag} hasAnchor={hasAnchor} />
          </li>
        );
      })
  }
</ul>
