---
interface Props {
  tag: string;
  hasAnchor: boolean;
}

const { tag, hasAnchor } = Astro.props;
---

{
  hasAnchor ? (
    <a
      class="border-[1px] border-gray-300 dark:border-gray-700 text-xs py-1 px-2 rounded-md hover:underline tag"
      href={"/blog/with/" + tag}
    >
      #{tag}
    </a>
  ) : (
    <p class="border-[1px] border-gray-300 dark:border-gray-700 text-xs py-1 px-2 rounded-md tag">
      #{tag}
    </p>
  )
}
