---
---

<button id="themeToggle" aria-label="Theme toggler" class="cursor-pointer">
    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="sun" fill-rule="evenodd" d="M7.5 3C7.30974 3 7.12726 2.92442 6.99273 2.78988C6.85819 2.65534 6.78261 2.47287 6.78261 2.28261V0.717391C6.78261 0.527127 6.85819 0.344656 6.99273 0.210119C7.12726 0.075582 7.30974 0 7.5 0C7.69026 0 7.87273 0.075582 8.00727 0.210119C8.14181 0.344656 8.21739 0.527127 8.21739 0.717391V2.28261C8.21739 2.47287 8.14181 2.65534 8.00727 2.78988C7.87273 2.92442 7.69026 3 7.5 3ZM7.5 15C7.30974 15 7.12726 14.9244 6.99273 14.7899C6.85819 14.6553 6.78261 14.4729 6.78261 14.2826V12.7174C6.78261 12.5271 6.85819 12.3447 6.99273 12.2101C7.12726 12.0756 7.30974 12 7.5 12C7.69026 12 7.87273 12.0756 8.00727 12.2101C8.14181 12.3447 8.21739 12.5271 8.21739 12.7174V14.2826C8.21739 14.4729 8.14181 14.6553 8.00727 14.7899C7.87273 14.9244 7.69026 15 7.5 15ZM11.1893 4.52804C11.0475 4.52803 10.9088 4.48595 10.7909 4.40715C10.6729 4.32834 10.581 4.21633 10.5267 4.08528C10.4724 3.95423 10.4582 3.81003 10.4858 3.67089C10.5134 3.53175 10.5817 3.40393 10.682 3.30359L11.7887 2.19685C11.9238 2.06524 12.1053 1.99214 12.294 1.99338C12.4826 1.99462 12.6631 2.0701 12.7965 2.20348C12.9299 2.33686 13.0054 2.51741 13.0066 2.70603C13.0079 2.89466 12.9348 3.07618 12.8032 3.2113L11.6964 4.31804C11.6299 4.38471 11.5508 4.43759 11.4638 4.47362C11.3768 4.50966 11.2835 4.52816 11.1893 4.52804ZM2.70391 13.0135C2.56202 13.0135 2.42332 12.9714 2.30535 12.8925C2.18738 12.8137 2.09545 12.7016 2.04117 12.5705C1.98689 12.4394 1.97271 12.2951 2.00042 12.156C2.02813 12.0168 2.09649 11.889 2.19685 11.7887L3.30359 10.682C3.36987 10.6139 3.44902 10.5597 3.53643 10.5225C3.62384 10.4852 3.71777 10.4658 3.81277 10.4651C3.90777 10.4645 4.00195 10.4828 4.08985 10.5188C4.17774 10.5549 4.25759 10.6081 4.32477 10.6752C4.39195 10.7424 4.44511 10.8223 4.48118 10.9102C4.51725 10.998 4.5355 11.0922 4.53487 11.1872C4.53425 11.2822 4.51476 11.3762 4.47754 11.4636C4.44031 11.551 4.3861 11.6301 4.31804 11.6964L3.2113 12.8032C3.14476 12.8699 3.06567 12.9229 2.9786 12.9589C2.89152 12.995 2.79817 13.0136 2.70391 13.0135ZM14.2826 8.21739H12.7174C12.5271 8.21739 12.3447 8.14181 12.2101 8.00727C12.0756 7.87273 12 7.69026 12 7.5C12 7.30974 12.0756 7.12726 12.2101 6.99273C12.3447 6.85819 12.5271 6.78261 12.7174 6.78261H14.2826C14.4729 6.78261 14.6553 6.85819 14.7899 6.99273C14.9244 7.12726 15 7.30974 15 7.5C15 7.69026 14.9244 7.87273 14.7899 8.00727C14.6553 8.14181 14.4729 8.21739 14.2826 8.21739ZM2.28261 8.21739H0.717391C0.527127 8.21739 0.344656 8.14181 0.210119 8.00727C0.075582 7.87273 0 7.69026 0 7.5C0 7.30974 0.075582 7.12726 0.210119 6.99273C0.344656 6.85819 0.527127 6.78261 0.717391 6.78261H2.28261C2.47287 6.78261 2.65534 6.85819 2.78988 6.99273C2.92442 7.12726 3 7.30974 3 7.5C3 7.69026 2.92442 7.87273 2.78988 8.00727C2.65534 8.14181 2.47287 8.21739 2.28261 8.21739ZM12.2961 13.0135C12.2018 13.0136 12.1085 12.995 12.0214 12.9589C11.9343 12.9229 11.8552 12.8699 11.7887 12.8032L10.682 11.6964C10.5503 11.5613 10.4772 11.3798 10.4785 11.1911C10.4797 11.0025 10.5552 10.822 10.6886 10.6886C10.822 10.5552 11.0025 10.4797 11.1911 10.4785C11.3798 10.4772 11.5613 10.5503 11.6964 10.682L12.8032 11.7887C12.9035 11.889 12.9719 12.0168 12.9996 12.156C13.0273 12.2951 13.0131 12.4394 12.9588 12.5705C12.9046 12.7016 12.8126 12.8137 12.6947 12.8925C12.5767 12.9714 12.438 13.0135 12.2961 13.0135ZM3.81065 4.52804C3.71646 4.52823 3.62316 4.50977 3.53613 4.47372C3.4491 4.43768 3.37007 4.38477 3.30359 4.31804L2.19685 3.2113C2.06524 3.07618 1.99214 2.89466 1.99338 2.70603C1.99462 2.51741 2.0701 2.33686 2.20348 2.20348C2.33686 2.0701 2.51741 1.99462 2.70603 1.99338C2.89466 1.99214 3.07618 2.06524 3.2113 2.19685L4.31804 3.30359C4.41831 3.40393 4.48657 3.53175 4.51421 3.67089C4.54185 3.81003 4.52761 3.95423 4.47331 4.08528C4.419 4.21633 4.32707 4.32834 4.20912 4.40715C4.09117 4.48595 3.95251 4.52803 3.81065 4.52804ZM7.5 10.8261C6.84216 10.8261 6.1991 10.631 5.65212 10.2655C5.10515 9.90007 4.67884 9.3806 4.4271 8.77284C4.17535 8.16508 4.10949 7.49631 4.23782 6.85111C4.36616 6.20591 4.68294 5.61326 5.1481 5.1481C5.61326 4.68294 6.20591 4.36616 6.85111 4.23782C7.49631 4.10949 8.16508 4.17535 8.77284 4.4271C9.3806 4.67884 9.90007 5.10515 10.2655 5.65212C10.631 6.1991 10.8261 6.84216 10.8261 7.5C10.8251 8.38181 10.4743 9.22722 9.85075 9.85075C9.22722 10.4743 8.38181 10.8251 7.5 10.8261Z"/>
        <path class="moon" fill-rule="evenodd" d="M7.76781 15C5.70766 15 3.73189 14.1816 2.27514 12.7249C0.818392 11.2681 0 9.29234 0 7.23219C0 4.08488 1.80803 1.26302 4.60745 0.0446143C4.70611 0.0016151 4.81544 -0.0106702 4.92118 0.00935931C5.02693 0.0293889 5.12419 0.0808045 5.20029 0.156907C5.27639 0.233009 5.32781 0.330268 5.34784 0.436013C5.36787 0.541757 5.35558 0.651083 5.31258 0.749744C4.99116 1.48769 4.8214 2.43288 4.8214 3.48221C4.8214 7.1746 7.8254 10.1786 11.5178 10.1786C12.5671 10.1786 13.5123 10.0088 14.2503 9.68742C14.3489 9.64442 14.4582 9.63213 14.564 9.65216C14.6697 9.67219 14.767 9.72361 14.8431 9.79971C14.9192 9.87581 14.9706 9.97307 14.9906 10.0788C15.0107 10.1846 14.9984 10.2939 14.9554 10.3925C13.737 13.192 10.9151 15 7.76781 15Z"/>
    </svg>

</button>

<style>
    #themeToggle {
        border: 0;
        background: none;
    }
    .sun {
        fill: black;
    }
    .moon {
        fill: transparent;
    }

    :global(.dark) .sun {
        fill: transparent;
    }
    :global(.dark) .moon {
        fill: white;
    }
</style>

<script is:inline>
  document.addEventListener('astro:page-load', () => {
    const theme = (() => {
      if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    })();

    if (theme === "light") {
      document.documentElement.classList.remove("dark");
    } else {
      document.documentElement.classList.add("dark");
    }

    window.localStorage.setItem("theme", theme);

    document.getElementById("themeToggle").onclick = () => {
        const element = document.documentElement;
        element.classList.toggle("dark");

        const isDark = element.classList.contains("dark");
        localStorage.setItem("theme", isDark ? "dark" : "light");
    };
  });

  function applyTheme() {
      localStorage.theme === 'dark'
          ? document.documentElement.classList.add("dark")
          : document.documentElement.classList.remove("dark");
  }

  document.addEventListener('astro:after-swap', applyTheme);
  applyTheme();
</script>