---
interface Props {
  signature?: string;
}

const { signature } = Astro.props;
---

{signature && (
  <li>
    <button
      class="border-[1px] border-emerald-200 dark:border-emerald-900 bg-emerald-50 dark:bg-emerald-950 text-emerald-700 dark:text-emerald-300 text-xs py-1 px-2 rounded-md hover:underline tag"
      data-verify-button
      data-signature={signature}
      title="Clique para copiar a assinatura"
    >
      ✓ verificado
    </button>
  </li>
)}

<style>
  [data-verify-button] {
    cursor: pointer;
    font-weight: 500;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const buttons = document.querySelectorAll("[data-verify-button]");
    buttons.forEach((button) => {
      button.addEventListener("click", async () => {
        const signature = button.getAttribute("data-signature");
        if (signature) {
          await navigator.clipboard.writeText(signature);
          const originalText = button.textContent;
          button.textContent = "✓ hash copiado!";
          setTimeout(() => {
            button.textContent = originalText;
          }, 2000);
        }
      });
    });
  });
</script>
