---
import Layout from "@layouts/layout.astro";
import Link from "@components/link.astro";
---

<Layout>
    <h1>que pena</h1>

    <p>O conteudo que voce tentou acessar nao foi encontrado</p>
    <span class="flex justify-end">
        <Link href="/" class="border-2 dark:bg-white dark:text-[#18181b]" arrow
            >ir para a home</Link
        >
    </span>
</Layout>
