---
import { getRelativeLocaleUrl } from "astro:i18n";
import Layout from "@layouts/layout.astro";
import Link from "@components/link.astro";
import Prose from "@components/prose.astro";

const blogURL = getRelativeLocaleUrl("pt-br", "blog");
---

<Layout>
    <Prose>
        <h1>yo!</h1>
        <p>
            meu nome é Daniel Santos, sou um desenvolvedor de software
            brasileiro.
        </p>
        <p>
            criei este espaço para guardar os blog posts, atualmente vejo este
            site mais como uma forma de demarcar minha presença online. Embora a
            maior parte do conteúdo aqui seja de fato sobre desenvolvimento de
            software, não sinto que esteja restrito apenas a isso.
        </p>
        <p>
            todo o conteúdo deste site está disponível no <a
                href="https://github.com/ddanielsantos/blog/">github</a
            >, a quem se interessar em propor sugestões e debates (sejam eles
            sobre o site ou o conteúdo das postagens em si). Issues são bem
            vindas!!!
        </p>
        <a href="https://x.com/ddanieu_">twitter</a>
    </Prose>
    <span class="flex justify-end">
        <Link href={blogURL} class="border-2 dark:bg-white dark:text-[#18181b]"
            >ir para o blog</Link
        >
    </span>
</Layout>
