@import '../styles/typography.css';

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans.ttf") format("truetype");
    font-weight: 400 800;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: "Open Sans", system-ui, sans-serif;
    background-color: var(--color-neutral-100);
    color: var(--color-zinc-700);
    margin: 0;
    padding: 0;
    line-height: 1.75;
}

p, pre.astro-code, img {
    margin: 1.25em 0;
}

hr {
    margin: 3em 1.5em;
}

html.dark {
    background-color: var(--color-zinc-900);
    color: var(--color-zinc-300);
}

code {
    border-radius: 0.375rem;
    padding: 0.25rem;
    font-size: 0.8rem;
    background-color: var(--color-neutral-200);
}

html.dark code {
    background-color: var(--color-neutral-800);
}

pre > code {
    all: unset;
}

ul:not(.tag-group, .post-list) {
    list-style-type: disc;
    padding: 0 1rem;
}

ul:not(.tag-group, .post-list) li {
    padding: 0.25rem;
}

pre.astro-code {
    border-radius: 0.375rem;
    font-size: 0.875rem;
    position: relative;
    padding: 2.5rem 1rem 1rem;
}

pre.astro-code, hr {
    border: 1px solid var(--color-zinc-300);
}

html.dark pre.astro-code, html.dark hr {
    border-color: var(--color-zinc-700);
}

html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

button[data-copy] {
  transition: transform 150ms ease-in-out;
}

button[data-copy].clicked {
  transform: scale(0.95);
}